*{padding:0;margin:0}
body{width:90%;font-size:14px;font-family:Microsoft Yahei;padding:40px;}
		table{border-collapse: collapse; border-spacing: 0;width:100%;border: 1px solid #ccc;}
		table th{background-color: #f1f1f1;}
		table th, table td{border: 1px solid #ccc;color:#555;padding:5px 10px;}
		input{border:1px solid #eee;padding:3px 6px;color:#666;}
		form{height:50px;}
		.topbar{height:60px;padding:0;}
		.topbar li{float:left;padding-right:20px;list-style:none;}
		ul{list-style:none}
		nav ul  li{min-width:100px;min-height:50px;float:left}
		header{background-color:#f1f1f1;min-height:70px;width:100%;line-height:70px}
		header ul  li{min-width:100px;min-height:50px;float:left;}
		footer ul li{ min-width:100px;min-height:50px;float:left}
		a{text-decoration: none;}
		a:visited{ color:black}
		aside {
			width:200px;
			min-height:500px;
			background-color:#f1f1f1;
			over-flow:auto;
			float:left;
		}
		
		section{
			float:left;
			width:800px;
			min-height:500px;
			
		}
		section  iframe{
			width:100%;
			height:600px;
			border:none;
		}
		
		
		